@import url(https://fonts.googleapis.com/css?family=Merriweather);

* {
    margin : 0;
    padding: 0;
    
    

}


body {

   height:100vh;
    line-height: 1.5;
    color      : #ffff;
    overflow   : hidden;



}

.container {
    width           : 100%;
    height          : 100%;
    overflow-y      : scroll;
    overflow-x: hidden;
    scroll-behavior : smooth;
    scroll-snap-type: y mandatory;

}

.logo {
    display       : inline-block;
    vertical-align: top;

    width       : 100px;
    height      : 40px;
    margin-right: 900px;
    margin-top  : 10px;
}

.navbar {
    position  : fixed;
    top       : 0;
    z-index   : 1;
    width     : 100%;
    height    : 60px;
    background: #00000081;
    opacity   : 1.0;


}



.navbar ul {

    width          : 100%;
    justify-content: center;
    list-style     : none;
    display        : flex;
    opacity        : 3;


}

.navbar ul li {



    margin     : 0 1rem;
    padding    : 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    


}


.navbar ul li a {
    text-decoration: none;
    color          : white;
}

.navbar ul li a:hover {

    color: skyblue;

    height: 60px;

}

section {
    display          : flex;
    height           : 100vh;
    scroll-behavior  : smooth;
    scroll-snap-align: center;

}

section#Home {

    background     : url('images/Batman.jpg') no-repeat center center/cover;
    opacity        : 0.99;
    justify-content: center;
    flex-direction: column;

}


section#About{
    
    opacity   : 1;
   /* background :url('images/code.jpeg') no-repeat center center/cover;*/
   background-color: black;
   
    

}

h5{
    font-size: 2rem;
    text-align: left;
    padding: 10px 1px;
    margin-top: 1rem;
    color: rgb(11, 167, 214);
    font-family: 'Reggae One', cursive;
    
}
b{
    color: rgb(11, 167, 214);
    font-family: 'Reggae One', cursive;  
}


.cont {
    background-color: rgb(75, 74, 73);
    opacity : 0.7;
    top: 1rem;
    margin-top: 5rem;
    margin-left: 5rem;
    height:30rem;
    width: 50rem;
    border-radius: 2rem;
    padding-left: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    padding-right: 1rem;

}

.click{
    font-family: sans-serif;
    width: 80px;
    height: 40px;
    color:rgb(11, 167, 214);
    background-color: white;
    border-radius: 5px;
    box-shadow: inset 0 0 0 0 rgb(11, 167, 214);
    transition: ease-out 0.3s;
    font-size: 2 rem;
    outline: none;
    letter-spacing: 2px;

}

.click:hover{
    box-shadow: inset 300px 0 0 0 rgb(11, 167, 214);
    color: rgb(255, 255, 255);
    cursor: pointer;
}



section#Projects {
    background-color: black;
    
}

.box-area{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    opacity: 1;
    flex-direction: row;
    padding-top: 10%;
    padding-bottom: 10%;
    
    
    
}

.single-box{
    position: relative;
    display: flex;
    width: 300px;
    height:auto;
    border-radius: 4px;
    align-items: center;
    margin:20px;
    padding: 20px;
    transition: .3s;
    overflow-wrap: break-word;

    
    
}
.img-text{
    font-family: 'Reggae One', cursive;
    overflow: hidden;

    
    
}

.img-area{
    display: flex;  
    
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
    padding: 20px;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;

}

.single-box:hover {
    background-position: 100% 100%;
    animation: up-bump 0.5s ease;
    background-color: rgb(236, 58, 58);
  }
  .single-box:hover h2 {
    color: #48ad26;
  }
  .single-box:hover h2 span {
    color: rgb(255, 255, 255);
  }
  .single-box:hover h3 {
    color: rgb(153, 153, 153);
  }
  
  @keyframes up-bump {
    0% { padding-top: 3em; }
    50% { padding-top: 2em; }
    100% { padding-top: 3em; }
  }
  @keyframes down-bump {
    0% { padding-top: 3em; }
    50% { padding-top: 2.5em; }
    100% { padding-top: 3em; }
  }





section#Contact {
    background: url('images/animie.jpg') no-repeat center center/cover;
    flex-direction: column;

}

@media only screen  and (max-width:700px){
    

    .nav ul li{
        display: block;
       
       
    }

    .navbar ul li a {
        text-decoration: none;
        color          : white;
    }

}

h1 {
    animation  : type 3s;
    font-family: 'Reggae One', cursive;
    margin-left: 10rem;
    font-size  : 2rem;
    color      : rgb(0, 140, 255);
}


@keyframes type {
    0% {
        color      : black;
        font-size  : 0rem;
        font-family: unset;
        margin-left: 10rem;
        opacity    : 0;

    }

    100% {

        color      : rgb(0, 140, 255);
        margin-left: 10rem;
        font-size  : 2rem;
        font-family: 'Reggae One', cursive;
        opacity    : 1;

    }
}



h2 {

    font-family: 'Reggae One', cursive;
    margin-left: 10rem;

    animation: type1 5s;



}

@keyframes type1 {
    0% {

        color  : black;
        opacity: 0;

    }

    50% {

        color  : black;
        opacity: 0;

    }

    100% {



        opacity: 1;

    }
}


h4 {

    font-size  : 1rem;
    margin-left: 20.5rem;
    font-family: 'Reggae One', cursive;
    animation  : animate 6s steps(24);
    color      : rgb(0, 140, 255);
    overflow   : hidden;
    white-space: nowrap;

}


@keyframes animate {

    0%,
    50%,
    75% {


        color: black;
        width: 0ch;


    }

    100% {

        color: rgba(0, 140, 255, 0.863);
        width: 24ch;

    }
}




h3{
    font-size: 2rem;
    margin-left: 40rem;
    margin-top: 15rem;
    font-family: 'Reggae One', cursive;
    color: rgb(0, 140, 255);
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    text-align: center;
    -webkit-box-reflect: below 1px lines-gradient(transparent,rgba(24, 23, 23, 0.533));
    text-shadow: 0 0 10px #00b3ff, 
                 0 0 20px #00b3ff,
                 0 0 40px #00b3ff,
                 0 0 80px #00b3ff,
                 0 0 120px #00b3ff;
    line-height: 0.70em;
    outline: none;
    animation: animate1 5s linear infinite;

}

@keyframes animate1{

    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%
    {
        color:#00b3ffaf;
        box-shadow: none;
    }
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%
    {
        color: #fff;
    }
}


.social-menu ul {
    position: relative;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    justify-content: center;
    margin: 0;
    margin-top: 5rem;
    display: flex;
}
.social-menu ul li {
    list-style: none;
    margin: 0 10px;
}
.social-menu ul li .fa {
    color: rgb(0, 140, 255);
    font-size: 25px;
    line-height: 50px;
    transition: .5s;
}
.social-menu ul li .fa:hover {
    color: #ffffff;
}
.social-menu ul li a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition: 0.5s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.social-menu ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.social-menu ul li:nth-child(1) a:hover {
    background-color: #3b5999;
}
.social-menu ul li:nth-child(2) a:hover {
    background-color: #55acee;
}
.social-menu ul li:nth-child(3) a:hover {
    background-color: #e4405f;
}
.social-menu ul li:nth-child(4) a:hover {
    background-color: #cd201f;
}
.social-menu ul li:nth-child(5) a:hover {
    background-color: #0077B5;
}





